@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body{
  background-image: linear-gradient(to right bottom, #000046,#1CB5E0);
  background-attachment: fixed;
}
.app_container{
  padding-top: 3%;
}
.app_row{
  height: 90vh;
}

.app_main-content{
  background-color: #fff;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0 0 10px black;
}
/* sidebar codes */
.sidebar{
  background-color: #fff;
  height: 100%;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0 0 10px black;
  text-align: center;
}

.sidebar_avatar{
  height: 110px;
  width: 120px;
  object-fit: contain;
  border-radius: 30px;
}

.sidebar_name{
  font-family: Kaushan Script;
  font-weight: bold;
  font-size: larger;
  margin: 5% 0%;
}

.sidebar_name span{
  color: #1CB5E0;
}

.sidebar_title{
  font-size: medium;
  font-weight: bold;
  background-color: #fff;
  border-radius: 30px;
}

.sidebar_item{
  margin-bottom: 4%;
  padding-top: 2%;
  height: 5%;
  font-size: 1.05rem;
  border-radius: 30px;
}

.sidebar_item a {
  text-decoration: none;
  color: #000;
  opacity: 0.8;
}

.sidebar_item a:hover{
  transition: 0.6s;
  opacity: 1;
}
.sidebar_social-icons{
  background-color: rgb(238, 237, 237);
  padding: 3% 0%;
  border-radius: 8px;
}

.sidebar_social-icons .black{
  color: #000;
}
.sidebar_social-icons .green{
  color: #25D366;
}

.sidebar_social-icons .light-blue{
  color: #0e76a8;
}

.sidebar_social-icons .blue{
  color: #3b5998;
}

.sidebar_social-icons .black:hover, .green:hover, .light-blue:hover, .blue:hover{
  transition: 0.6s;
  color: rgb(216, 104, 52);
}

.sidebar_contact{
  background-color: rgb(238, 237, 237);
  padding: 3% 2%;
  border-radius: 8px;
}

.sidebar_email{
  background-image: linear-gradient(to right bottom, #000046,#1CB5E0);
  border-radius: 30px;
  color: #fff;
  margin: 15% 5% 0%;
  cursor: pointer;
  transition: all 3s;
}

.sidebar_email:hover{
  transform: scale(1.1);
  background-image: linear-gradient(to bottom right,#1CB5E0,#000046);
}

/* end sidebar */

/* navbar start */

.navbar_items{
  display: flex;
}

.navbar_active{
  font-size: 2rem;
  font-weight: 700;
  color: #354358;
  border-bottom: 2px solid #1CB5E0;
}

.navbar_item{
  margin-right: 20px;
  font-size: 1.3rem;
  text-decoration: none;
  cursor: pointer;
  color: #354358;
}

.navbar_item:hover{
  background: -webkit-linear-gradient(#000046,#0e76a8);
  background-clip: text;  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.6s;
  
}
/* navbar end */


/* about start */
.about{
  padding: 1.5%;
}

.about_intro{
  padding: 1%;
}

.about_container{
  /* background-color: rgb(238, 237, 237); */
  padding: 1.5%;
}

.about_heading{
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  color: #354358;
}

/* about end */

/* skillcard start */

.skill-card{
  padding: 15px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border-bottom: 2px solid#3b5998;
}

.skill-card_icon{
  width: 25%;
}

.skill-card-body{
  margin-left: 3%;
}
.skill-card_title{
  font-size: 19px;
}
.skill-card_text{
  margin:0;
  font-size: 0.9rem;
}

/* skillcard end */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* custom media query */
@media only screen and (max-width:991px) {
  .app_main-content{
    margin: 30px 0;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
